<div class="text-center">
  <img class="img-circle img-responsive center-block" src="https://scontent.ford1-1.fna.fbcdn.net/v/t1.0-9/1797408_10206329119201492_1443569132783497003_n.jpg?oh=314aa8578cc76517dc9f44e8d9573d07&oe=59BAEB20">
  <h3>
    Tom Zmyslo<br>
    <small>Software Developer</small>
  </h3>
</div>

<hr>

<dl>
  <dt class="text-muted text-uppercase">
    <u>Languages</u>
  </dt>
  <dd>Ruby</dd>
  <dd>Javascript</dd>
  <dd>HTML5</dd>
  <dd>CSS3</dd>
  <dd>Swift</dd>
  <dd>Objective-C</dd>
</dl>

<dl>
  <dt class="text-muted text-uppercase">
    <u>Frameworks</u>
  </dt>
  <dd>Ruby on Rails</dd>
  <dd>React</dd>
  <dd>React Native</dd>
  <dd>Sinatra</dd>
  <dd>Node</dd>
  <dd>Angular</dd>
  <dd>Ember</dd>
  <dd>Alexa Skills</dd>
</dl>

<dl>
  <dt class="text-muted text-uppercase">
    <u>Tools</u>
  </dt>
  <dd>GitHub</dd>
  <dd>Atom</dd>
  <dd>Xcode</dd>
  <dd>MailChimp</dd>
</dl>

<dl>
  <dt class="text-muted text-uppercase">
    <u>Environments</u>
  </dt>
  <dd>macOS</dd>
  <dd>Heroku</dd>
  <dd>AWS</dd>
  <dd>- S3</dd>
  <dd>- Cloudfront</dd>
  <dd>- Lambda</dd>
</dl>
